.h1 {
  text-align: center;
  background-color: yellow;
}

head,
nav {
  text-align: center;
  background: yellow;
  margin: 20px 0;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "imagem1 imagem1 texto1 texto1""imagem1 imagem1 texto1 texto1""texto2 texto2 imagem2 imagem2"
  "texto2 texto2 imagem2 imagem2""imagem3 imagem3 imagem4 imagem4""texto3 texto3 texto4 texto4"". . . .";
}

.imagem2 {
  grid-area: imagem2;
}

.imagem2 img {
  max-width: 400px;
  max-height: 300px;
  width: auto;
  height: auto;
}

.imagem1 {
  grid-area: imagem1;
}

.texto1 {
  grid-area: texto1;
}

.texto2 {
  grid-area: texto2;
}

.imagem3 {
  grid-area: imagem3;
}

.imagem4 {
  grid-area: imagem4;
}

.texto3 {
  grid-area: texto3;
}

.texto4 {
  grid-area: texto4;
}